<div class="card card-body mt-2">
    <h3>Add Task</h3>
    <hr>
    <form action="/tasks" method = "post">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title"/>
        </div>
        <div class="form-group">
            <label for="details">Details:</label>
            <TextArea class="form-control" name="details" ></TextArea>
        </div>
        <button class="btn btn-outline-primary" type = "submit">Submit</button>
    </form>
</div>

